/*General Style*/
/*[data-neon='title']*/
h1,
h2 {
  text-shadow:
    0 0 10px #fa6a10,
    0 0 15px #fa6a10,
    0 0 25px #fa6a10,
    0 0 50px #fa6a10 !important;
}

@keyframes neonGlow {
  0%,
  100% {
    text-shadow:
      0 0 5px #a100ff,
      0 0 10px #a100ff,
      0 0 20px #a100ff,
      0 0 40px #a100ff,
      0 0 80px #a100ff;
  }
  50% {
    text-shadow:
      0 0 2px #a100ff,
      0 0 5px #a100ff,
      0 0 10px #a100ff,
      0 0 20px #a100ff,
      0 0 40px #a100ff;
  }
}

.span_purple-shadow {
  color: #fff;
  animation: neonGlow 2s infinite alternate;
}

/*BORDER BLUR*/
/*.is-border-purple,
.is-border-orange,
.is-border-blue,
.is-border-green {
  position: relative;
}
.is-border-purple::before,
.is-border-orange::before,
.is-border-blue::before,
.is-border-green::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: transparent;
  border-radius: calc(var(--radius--medium) + 2px);
  z-index: -1;
  filter: blur(1px);
}
.is-border-purple::before {
  box-shadow:
    inset 0 0 0 2px var(--_brand---border--neon-purple),
    0 0 20px 2px var(--swatch--light-purple-600),
    0 0 40px 4px var(--swatch--light-purple-600);
}
.is-border-orange::before {
  box-shadow:
    inset 0 0 0 2px var(--_brand---border--neon-orange),
    0 0 20px 2px var(--swatch--orange-900),
    0 0 40px 4px var(--swatch--orange-900);
}

.is-border-blue::before {
  box-shadow:
    inset 0 0 0 2px var(--_brand---border--neon-blue),
    0 0 20px 2px var(--swatch--blue-900),
    0 0 40px 4px var(--swatch--blue-900);
}

.is-border-green::before {
  box-shadow:
    inset 0 0 0 2px var(--_brand---border--neon-green),
    0 0 20px 2px var(--swatch--green-900),
    0 0 40px 4px var(--swatch--green-900);
}*/

/*Swiper*/
.swiper-bullet {
  width: 0.75rem;
  height: 0.375rem;
  border: 1px solid #fff;
  border-radius: 62.5rem;
  display: inline-block;
  margin: 0 6px;
}

.swiper-bullet.is-active {
  background: #3dd8fc;
  border: 1px solid #3dd8fc;
}

/*Form*/
#form-objet {
  color: rgba(255, 255, 255, 0.75) !important;
  font-size: 1rem;
}

/* Hover micro-anim - homepage zones */
.cc--hp-zones_card p {
  transition: color 200ms ease;
}
.cc--hp-zones_card:hover p {
  color: var(--_brand---action--hover-text);
}
/*---------------COMPONENTS-------------*/
/*CC--Navbar*/
@media (min-width: 992px) and (max-width: 1350px) {
  .navbar_menu.is-page-height-tablet {
    gap: 1rem;
    padding-left: 1rem;
  }
}

/*CC--INFO CARD | border gradient*/
.cc--info-card {
  position: relative;
}

.cc--info-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px; /* épaisseur du border */
  background: linear-gradient(90deg, #f4d1ff 0%, #dc70ff 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
}

/*FAQ*/
/* decalage des items impairs */
@media (min-width: 992px) {
  .faq_flexbox.w-dyn-items > [role='listitem']:nth-child(2n + 1) {
    transform: translateY(2.5rem);
  }
}

/*CC--Heading Cards Layout*/
.cc--heading-cards-layout_card {
  position: absolute;
}

/*CC--Button Navbar*/
.button.is-navbar.is-gradient-light-blue {
  position: relative;
  overflow: hidden;
  isolation: isolate; /* crée un contexte d’empilement local */
  background-image: linear-gradient(90deg, rgb(93, 224, 230), rgb(0, 74, 173));
}

.button.is-navbar.is-gradient-light-blue::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, rgb(0, 74, 173), rgb(93, 224, 230));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
  z-index: -1; /* derrière le contenu du lien */
}

.button.is-navbar.is-gradient-light-blue.-wfp-hover::before,
.button.is-navbar.is-gradient-light-blue:hover::before {
  opacity: 1;
}

/*sticky animation hp*/
.animation-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.animation-container .step {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pour les très petits écrans (inférieurs à 480px) */
@media (max-width: 768px) {
  .animation-container .step {
    top: auto;
  }
}
@media (max-width: 480px) {
  #test-anim-heading {
    padding-top: 0.5rem !important;
  }
}
